.container{
    display:flex;
    flex-direction: row;
    width: 380px;
    height: 150px;
    padding: 26px;
    border: 1px solid #eee;
    box-shadow: 0 4px 4px #ccc;
    margin:10px;
    box-sizing: border-box;
    cursor:pointer;
    justify-content: space-between;
    align-content: space-between;
}

.imag{
    width: 120px;
    height: 148.5px;
    overflow: hidden;
    margin-left: -26px;
    margin-top:-26px;
}
.dot{
    background-color: grey;
    border-radius: 100%;
    width: 7px;
    height: 7px;
    margin:3px;
}
.dots{
    width: 7px;
    margin-top: -15px;
}
.theRest{
    width: 200px;
    margin-top: -40px;
    text-align: left;
    margin-left: 10px;
}
.title{
    font-size: 25px;
    font-style: initial;
}
.texts{
    color:gray;
    margin-top: -10px;
}
.btnOptions{
    display: flex;
    flex-direction: column;
}
.botones{
    color:gray;
    font-size: 16px;
}
.rows{
    display:flex;
    flex-direction:row;
}