.content{
	text-align: center;
	padding-top: 72px;
	background-color: white;
	height: 100%;
	
	width: 80%;
	margin-left: 10%;
}
.h{
	height: 100%;
}
@media(max-width:601px){
	.content{
		height: 100%;

	margin-left: 0%;
	width:120%
	
	}
}