.NavigationItems{
    margin:0;
    padding: 0;
    list-style: none;
    display:flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    background-color:#373D72;
}
.active{
    border-bottom: 3px solid #40a4c8;
    color: #40a4c8;
}

@media (min-width: 500px){
    .NavigationItems{
        flex-flow: row;
    }
}