.App {
  text-align: center;
  height: 100%;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Workspace{
  width: 80%;
  background-color: white;
  margin-left: 10%;
 
}
.Workspac2{
  width: 80%;
  background-color: white;
  margin-left: 10%;
 
}