.redish{
    width: 40px;
    height: 150px;
    margin-top: -27px;
    background-color: red;
    margin-left: -26px;
    margin-right: 5px;
}
.greenish{
    width: 40px;
    height: 150px;
    margin-top: -27px;
    background-color:green;
    margin-left: -26px;
    margin-right: 5px;
}
.malo{
    width: 40px;
    height: 200px;
    margin-top: -27px;
    background-color: red;
    margin-left: -26px;
    margin-right: 5px;
}
.bueno{
    width: 40px;
    height: 200px;
    margin-top: -27px;
    background-color:green;
    margin-left: -26px;
    margin-right: 5px;
}
.kid{
    display:flex;
    flex-direction: row;
    width: 95%;
    height: 200px;
    padding: 26px;
    border: 1px solid #eee;
    box-shadow: 0 4px 4px #ccc;
    margin:10px;
    box-sizing: border-box;
    cursor:pointer;
    justify-content: flex-start;
    align-content: space-between;

}
.theRest2{
    width: 300px;
    margin-top: -40px;
    text-align: left;
    margin-left: 10px;
}
.margin{
    margin-top: -25px;
    display: flex;
    justify-content: space-between;
}
.seccionesNinoE{
    display: flex;
    flex-direction: column;
    margin-top: -27px;
    height: 100%;
}
.fila1{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    font-size: 30px;
    font-style: initial;
    border: 1px solid black;
}
.fila2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    font-size: 16px;
    font-style: initial;
    color: gray;
    border: 1px solid black;
}
.fila3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    font-size: 16px;
    font-style: initial;
    color: gray;
    border: 1px solid black;
}
