.redish{
    width: 40px;
    height: 150px;
    margin-top: -27px;
    background-color: red;
    margin-left: -26px;
    margin-right: 5px;
}
.greenish{
    width: 40px;
    height: 150px;
    margin-top: -27px;
    background-color:green;
    margin-left: -26px;
    margin-right: 5px;
}
.malo{
    width: 40px;
    height: 200px;
    margin-top: -27px;
    background-color: red;
    margin-left: -26px;
    margin-right: 5px;
}
.bueno{
    width: 40px;
    height: 200px;
    margin-top: -27px;
    background-color:green;
    margin-left: -26px;
    margin-right: 5px;
}
.kid{
    display:flex;
    flex-direction: row;
    width: 95%;
    height: 200px;
    padding: 26px;
    border: 1px solid #eee;
    box-shadow: 0 4px 4px #ccc;
    margin:10px;
    box-sizing: border-box;
    justify-content: flex-start;
    align-content: space-between;
    background-color: white;
}
.theRest2{
    width: 300px;
    margin-top: -40px;
    text-align: left;
    margin-left: 10px;
}
.margin{
    margin-top: -25px;
    display: flex;
    justify-content: space-between;
}
.seccionesNinoE{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -27px;
    height: 100%;
}
.fila1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    font-style: initial;
    color: gray;
}
.fila2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    font-size: 16px;
    font-style: initial;
    color: gray;
}
.fila3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    font-size: 16px;
    font-style: initial;
    color: gray;
}
.regaloInfoE{
    display:flex;
    flex-direction: column;
    width: 95%;
    height: 500px;
    padding: 26px;
  
    margin:10px;
    justify-content: flex-start;
    align-content: space-between;
}
.info2{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    font-style: initial;
    color: gray;

}
.regalosNE{
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.addButton{
    color: #fff;
    background-color: #007bff;
    border-color:none;
    border-radius:10px;
    text-justify: center;
    padding: 10px 20px;
    font-size:30px;
    margin:10px;
   
}

link{
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    color: #009688;
}
.EditBtn{
    width: 15px;
    height: 15px;
}
.ko{
    font-size: 20px;;
    margin-top:30px;
    margin-bottom:20px;
}
.whoops{
    z-index: 500;
    
}
.jrp{
    display:flex;
    flex-direction: column;
}
.otro2{
    background-color: white;
}
.hundred{
    width:100%;
}
 @media(max-width:701px){
.Ath, .Atd, .addButton{
    font-size: 15px;
}
}